<h1>Ajouter une nouvelle tâche</h1>
<%= form_for @task do |f| %>
  <div>
    <%= f.label :title, "Title" %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :details, "Details" %>
    <%= f.text_area :details %>
  </div>
  <div>
    <%= f.label :completed, "Completed?" %>
    <%= f.check_box :completed %>
  </div>
  <div>
    <%= f.submit "Create Task" %>
  </div>
<% end %>
